<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script>
		/*
			Use cases
			=========
			1. Add a new bug - done
			2. List the bugs - done
			3. Toggle the closed status of a bug - done
			4. Remove 'closed' bugs - done
			5. Display statistics - done
			6. Search for a bug
			7. Sort the bugs
			8. Improvise bug display
			9. Persist the bugs in the local storage
			10. Display createdAt
			11. Persist the bugs in the server
			12. Bugs should be accessible using unique URLs
		*/
	</script>
	<style>
		section{
			margin-bottom: 10px;
		}
		ol{
			width: 500px;
			list-style: none;
		}
		li{
			margin-bottom: 5px;
			padding: 5px;
			border : 1px solid gray;
			background-color: #e7e7e7;
			cursor: pointer;
			border-radius: 5px;

		}
		.bugname, .stats{
			font-size: 18pt;

		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
		}

	</style>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		bugTrackerApp.value('defaultBugName', '[Default Bug - new]');
		
		bugTrackerApp.factory('bugOperations' , function(defaultBugName){
			var currentBugId = 0;
			return {
				createNew : function(bugName){
					return {
						id : ++currentBugId,
						name : bugName || defaultBugName,
						isClosed : false
					}
				},
				toggle : function(bug){
					bug.isClosed = !bug.isClosed;
				}
			}
		});

		bugTrackerApp.controller("bugsController", function($scope, bugOperations){
			$scope.bugs = [
				bugOperations.createNew('User actions not recognized'),
				bugOperations.createNew('Server communication failure'),
				bugOperations.createNew('Application is not responsive')
			];

			$scope.addNew = function(bugName){
				var newBug = bugOperations.createNew(bugName);
				$scope.bugs.push(newBug);
			};
			$scope.toggle = function(bug){
				bugOperations.toggle(bug);
			};
			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			};

			$scope.getClosedCount = function(){
				var result = 0;
				for(var i=0; i<$scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++result;
				return result;
			}
		});
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{getClosedCount()}}</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed=''">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" >
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add New" ng-click="addNew(newBug)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in (bugs | filter:searchBug)">
					<span 
						class="bugname" 
						ng-click="toggle(bug)"
						ng-class="{closed : bug.isClosed}"
						>{{bug.name}}</span>
				</li>
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</div>
</body>
</html>